<h1>Products#show</h1>
<div class="show">
  <p>
    <%= @product.name%>
  </p>
  <p>
    <%= @product.description%>
  </p>
  <p>
    <%= @product.formatted_price%>
  </p>
  <p>
    <%= link_to "remove", product_path(@product), method: :delete %>
    <%= link_to "edit", edit_product_path(@product) %>
  </p>
</div>


<div class="review_list">
  <h3>Comments</h3>
  <%= render @product.reviews %>
</div>


<% if current_user %>
  <h3>New Comment</h3>
  <%= form_for [ @product, @review], remote: true, html: {id: 'new_comment'} do |f| %>
    <div class="comment">
      <p><%= f.label :comment %></p>
      <p><%= f.text_area :comment %></p>
      <p ><%= f.submit %></p>
    </div>
  <% end %>
<% else %>
  <h4>Please <%= link_to "Log in", login_path %> to leave a comment</h4>
<% end %>

<script type="text/javascript">
  $(document).on('ready', function() {
    $("#new_comment").on('ajax:beforeSend', function () {
      $("input[type='submit']").val('Saving').attr('disabled', 'disabled');
    })
    $("#new_comment").on('ajax:complete', function () {
      $("input[type='submit']").val('Create Review');
      $("input[type='submit']").removeAttr('disabled');
      $("#new_comment").scrollTop();
    })
  })
</script>
<!-- <script type="text/javascript">

  $(document).ready(function() {
     $("#new_comment")
        .on('ajax:beforeSend', function() {alert("loading!");})
        .on('ajax:success', function(data, status, xhr) {alert("success!");})
        .on('ajax:error', function(xhr, status, error) {alert("error!");})
        .on('ajax:complete', function() {alert("complete!");});
  });

</script> -->
