<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="notification">
    <% if flash[:notice]%>
      <p id='notice'>
        <%= flash[:notice] %>
      </p>
    <% end %>
    <% if flash[:alert]%>
      <p id='alert'>
        <%= flash[:alert] %>
      </p>
    <% end %>


  </div>
  <div>
    <% if current_user %>
      You are logged in As <%= current_user.email %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
